/** BEGIN: Non Openmrs CSS **/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	font-family: "Roboto";
}

:root {
	--omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
	--omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
	--omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
	--omrs-color-interaction: #1e4bd1;
	--omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
	--omrs-color-danger: #b50706;
	--omrs-color-bg-low-contrast: #eff1f2;
	--omrs-color-ink-high-contrast: #121212;
	--omrs-color-bg-high-contrast: #ffffff;
    --omrs-color-primary:#008CBA;
    --omrs-color-secondary:#ee1959;
    --omrs-color-success:#4CAF50;
	
}



/** END: Non Openmrs CSS **/
.input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;

}



/* Input*/
.underlined > input,
.filled > input {
	border: none;
	border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
	width: 100%;
	height: 2rem;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
}

.underlined > input:focus,
.filled > input:focus {
	outline: none;
}

.underlined > .input-icon ,
.filled > .input-icon {
	position: absolute;
	top: 0.9375rem;
	right: 0.875rem;
	fill: var(--omrs-color-ink-medium-contrast);
}


.underlined > .input-label,
.filled > .input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .2s;
}



.underlined > .input-helper,
.filled > .input-helper {
	font-size: 0.9375rem;
	color: var(--omrs-color-ink-medium-contrast);
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
    background-color: none;
}

.underlined > input:hover,
.filled > input:hover {
	border-color: var(--omrs-color-ink-high-contrast);
}

.underlined > input:focus + .input-label,
.underlined > input:valid + .input-label,
.filled > input:focus + .input-label,
.filled > input:valid + .input-label {
	top: 0;
	font-size: 0.9375rem;
	margin-bottom: 32px;;
}



/** DISABLED **/

.underlined > input:disabled {
	background: var(--omrs-color-bg-low-contrast);
	cursor: not-allowed;
}

.underlined > input:disabled + .input-label,
.underlined > input:disabled ~ .input-helper{
	color: var(--omrs-color-ink-low-contrast);
}




/** DANGER **/

.underlined.primary > .input-label, .underlined.primary > .input-helper,
.filled.primary > .input-label, .filled.primary > .input-helper{
	color: var(--omrs-color-primary);
}

.underlined.secondary > .input-label, .underlined.secondary > .input-helper,
.filled.secondary > .input-label, .filled.secondary > .input-helper{
	color: var(--omrs-color-secondary);
}

.underlined.success > .input-label, .underlined.success > .input-helper,
.filled.success > .input-label, .filled.success > .input-helper{
	color: var(--omrs-color-success);
}

.underlined.danger > .input-label, .underlined.danger > .input-helper,
.filled.danger > .input-label, .filled.danger > .input-helper{
	color: var(--omrs-color-danger);
}
.primary > input {
	border-color: var(--omrs-color-primary);
}

.secondary > input {
	border-color: var(--omrs-color-secondary);
}
.success > input {
	border-color: var(--omrs-color-success);
}
.danger > input {
	border-color: var(--omrs-color-danger);
}

.underlined > input {
	background: var(--omrs-color-bg-high-contrast);
}
.filled > input {
	background: var(--omrs-color-bg-low-contrast);
}

.underlined{background-color: transparent !important;}

.filled{background-color: transparent !important}


.small{
	height: 2rem !important;
	font-size: 0.875rem !important;
}

.medium{
    height: 2.5rem !important;
	font-size: 1rem !important;
}

.large{
    height: 3rem !important; 
	font-size: 1.25rem !important;
}
