@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	font-family: "Roboto";
}

.ripple-button {
    border-radius: 4px;
    border: none;
    margin: 8px;
    padding: 14px 24px;
    background: #1976d2;
    color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  .ripple-button > .ripple {
    width: 20px;
    height: 20px;
    position: absolute;
    background: #63a4ff;
    display: block;
    content: "";
    border-radius: 9999px;
    opacity: 1;
    animation: 0.9s ease 1 forwards ripple-effect;
  }
  
  
  @keyframes ripple-effect {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(10);
      opacity: 0.375;
    }
    100% {
      transform: scale(35);
      opacity: 0;
    }
  }
  
  .ripple-button > .content {
    position: relative;
    z-index: 2;
  }

.primary{background-color:#008CBA;}

.primary > .ripple{
    background: #63a4ff;
}
.secondary{background-color:#ee1959;}

.secondary > .ripple{
    background: #ff6c98;
}
.danger{background-color:#9b0000;}
.danger > .ripple{
    background: #f05e5e;
}
.success{background-color:#4CAF50;}
.success > .ripple{
    background: #b9ffbb;
}

