.main-NavBar{
    background-color: red !important;
}
.inner-navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
.main-navbar-section{
    padding:5rem;
}